{% extends "comunes/base/baseNoLoginYet.html" %}

{% block title %}

	Login

{% endblock title %}

{% load static %}

{% block jsVariables %}


{% endblock jsVariables %}

{% block content %}


	<p>
		<strong>

			Condiciones del Servicio

		</strong>

		<p> 

			Prubit es una red social virtual que te permite probarte ropa y ademas compartirla con tus amigos. Las fotos que subas a Prubit serán públicas, por lo que Prubit puede mostrarlas a los demas usuarios.

			El usuario no podrá hacer uso indebido de las imagenes de Prubit por lo que tendremos la posibilidad de dar aviso a los usuarios que estén haciendo acciones indebidas para que corrijan su comportamiento. Como última medida se le bloqueará la cuenta a los usuarios que hagan usos indebidos, como también a los usuarios que sean sorprendidos en acciones que vayan en contra de la generación de una comunidad amigable en Prubit.

			Prubit se hace responsable de seguir cada una de las políticas establecidas en sus Polítucas de Seguridad.

		</p>

		

{% endblock content %}

{% block javascriptCodes %}


{% endblock javascriptCodes %}