{% extends "comunes/base/baseNoLoginYet.html" %}

{% block title %}

	Login

{% endblock title %}

{% load static %}

{% block jsVariables %}

	<script type="text/javascript">
		
		// Redirigir hacia index
		var urlIndex = "{% url 'inicioUsuario:login' %}";

		// Redirigir hacia registro por SM
		var urlRegistroUsuarioPorSM = "{% url 'inicioUsuario:registroPorSM' %}";

	</script>

	<style>

		/*Imagen de fondo*/
		body {

			background: url('{% static "imagenes/fondoLogin.jpg" %}') no-repeat center center fixed;

			background-size: cover;
			height: 100%;
			overflow: hidden;

			-webkit-background-size: cover;
			-moz-background-size: cover;
			-o-background-size: cover;
			background-size: cover;

		}

	</style>

{% endblock jsVariables %}

{% block content %}


	<div>

		<!-- Div .container para  que div centre las columnas (funcionamiento de bootstrap)-->

		<div class="flex-container" style="margin-top:-30px;">

			<!-- Div para login -->

			<div class="login-form">

				<h2 class = "title"> 

					Prubit 

				</h2>

				<h5 class = "bodyLetter " style="color: white; background-color: rgba(211,211,211,0.0); padding: 3px; " >

					La red social de moda
					
				</h5>

				<!-- <form method = "post" action ="">

					{% csrf_token %}

					{% for field in formLogin %}

							<div class="form-group bodyLetter">

								{{field}}

							</div>

					{% endfor %}

					<button class="btn btn-default bodyLetter" type ="submit" name ="login_button"> 

						Ingresar 

					</button> 

				</form> -->

				<!-- Video de presentacion de Prubit -->
				<div style="padding-top: 10px; left: 5px; text-align: center;">

					<!-- Boton para ver video -->
					<button type="button" class="btn btn-default bodyLetter" data-toggle="modal" data-target="#video" style = "opacity: 0.4; background: white; border-radius: 10%;"> 

						<span class="glyphicon glyphicon-play" style = "width: 100%; height: auto;">

						</span>

					</button>

					<!-- Se muestra video -->
					<div id = "video" class = "modal fade" role = "dialog" width = "560">

						<iframe style= "margin-top: 40px; width: 80.01vw; height: 45vw;" src="https://www.youtube.com/embed/l1iIGtNcgB0?rel=0&amp;showinfo=0&mute=1&autoplay=1&fullscreen=1" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen>
							
						</iframe> 

					</div>

				</div>

				<!-- Boton para ingresar con Facebook -->
				<fb:login-button size = "medium" scope="public_profile,email" onlogin="checkLoginState();" data-max-rows="1" style="display: inline-block; margin: 15px;">

					Ingresar con Facebook

				</fb:login-button>

			</div>


			<!-- Div de olvido de contraseña -->
			<!-- <div class="forgotten-password"> -->

				<!-- Link para redirigir hacia olvido de contraseña -->

				<!-- <a href="{% url 'inicioUsuario:forgottenPassword' %}" class="bodyLetter"> -->
				
					<!-- ¿Has olvidado tu contraseña? -->
			<!-- Video de presentacion de Prubit -->
			<!-- <div style="padding-top: 10px; left: 5px; text-align: center;"> -->

				<!-- Boton para ver video -->
				<!-- <button type="button" class="btn btn-default bodyLetter" data-toggle="modal" data-target="#queEsPrubit" >  -->

					<!-- ¿Que es Prubit?

				</button> -->

				<!-- Se muestra video -->
	<!-- 			<div id = "queEsPrubit" class = "modal fade" role = "dialog">

					<img style = "width: 80%; max-height: 100%; margin-top: 5px;" src = "{% static 'imagenes/fotoParaProbarEjemplo/queEsPrubit.png' %}" >

				</div>

			</div> -->

				<!-- </a> -->

			<!-- Div de cierre de olvido de contraseña -->
			<!-- </div> -->

			<!-- Div para registro de usuario -->

			<!-- <div>

				<div class="register-form">

					<h2 class="tittle"> 

						¿Aún no estas registrado en Prubit? 

					</h2>

					<button type="button" class="btn btn-default bodyLetter" data-toggle="modal" data-target="#register" style="background-color: rgb(156,41,148); color: white;"> 

						Registrarme

					</button>

				</div>

				<div id="register" class="modal fade" role="dialog">

				  	<div class="modal-dialog">

					    <div class="modal-content">

					      	<div class="modal-header">

					        	<button type="button" class="close" data-dismiss="modal">

					        		&times;

					        	</button>

					        	<h4 class="modal-title">

					        		Registro

					        	</h4>

					      	</div>

					      	<div class="modal-body">


								<form class="form-register" method = "post" action="" >

									{% csrf_token %}

									{{form.as_p}}

									{% for field in formRegister %}

										{% with fc=forloop.counter %}

											{% if fc == 1 or fc == 3 or fc == 5 or fc == 7 or fc == 9 %}

												<div class="row"> 

											{% endif %}

											<label class=".col-form-label col-md-2">

												{{field.label}}

											</label>

											<div class="col-md-3">

												{{field}}

												{{field.help_text}}

											</div>

											{% if fc == 2 or fc == 4 or fc == 6 or fc == 8 or fc == 10 %}

												</div>

											{% endif %}

										{% endwith %}

									{% endfor %}

									<p class = "bodyLetter" style = "font-size: 10px;">

										Al registrarme acepto las <a class = "linkParaAbrirEnOtraWindow" id ="{% url 'inicioUsuario:politicasDePrivacidad' %}" > Políticas de Seguridad </a> y <a class = "linkParaAbrirEnOtraWindow"  id = "{% url 'inicioUsuario:condicionesDeServicio' %}"> Condiciones de Servicio </a>

									</p>

									<button class="btn btn-default" type ="submit" name ="register_button"> 

										Registrarse 

									</button> 

								</form>	

				    		</div>

				  		</div>

					</div>

				</div>


			</div> -->


			<!-- Video de presentacion de Prubit -->
			<!-- <div style="padding-top: 10px; left: 5px; text-align: center;"> -->

				<!-- Boton para ver video -->
				<!-- <button type="button" class="btn btn-default bodyLetter" data-toggle="modal" data-target="#video" > 

					¿Cómo me puedo probar ropa?

				</button> -->

				<!-- Se muestra video -->
				<!-- <div id = "video" class = "modal fade" role = "dialog" width = "560">

					<iframe style= "margin-top: 40px; width: 80.01vw; height: 45vw;" src="https://www.youtube.com/embed/iF4_DDc0etY?rel=0&amp;showinfo=0&mute=1&autoplay=1&fullscreen=1" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen>
						
					</iframe> 

				</div> -->

			<!-- </div> -->


			<!-- Galeria de imagenes de marcas en Prubit -->

			<div style="margin-top: 30px;">

				<h4 class = "bodyLetter " style="text-align: center; color: white; background-color: rgba(63,178,0,0.3); padding: 10px; color: rgba(255,255,255,0.8); border-radius: 10%;" >

					Marcas en Prubit
					
				</h4>
				

				<!-- Galeria de imagenes (carousel with bootstrap) -->
				<div id = "myCarousel" class = "carousel slide" data-ride = "carousel">
					
					<!-- Wrapper para imagenes -->
					<div class = "carousel-inner">


						{% for logo in logosCompanies %}

							<!-- Si es el primer elemento -->
							{% if forloop.first %}

								<!-- Se necesita que el primero diga item active -->
								<div class = "item active">
									
							<!-- Si no es el primer elemento -->
							{% else %}

								<!-- Cada imagen -->
								<div class = "item">

							{% endif %}

								<img src="{{ logo.url }}" class = "img-responsive center-block thumbnail" style="opacity: 0.75; border-radius: 10%; max-height: 60px; width: auto;">

							</div>

						{% endfor %}

					</div>

				</div>

			</div>

		</div>

	</div>
{% endblock content %}

{% block javascriptCodes %}

	<script type = "text/javascript" src = "https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js">

	</script>

	<script type="text/javascript" src="{% static 'javascript/comun/commonFunctions.js' %}">

	</script>

	<script type="text/javascript" src="{% static 'inicioUsuario/javascript/registroLoginLogout/login.js' %}">

	</script>

{% endblock javascriptCodes %}