{% extends "comunes/base/base.html" %}

{% load static %}

<!-- Se borra el templatetags -->

{% block title %}

	Prubit

{% endblock title %}

{% block jsVariables %}

	<script type="text/javascript">

		var urlForRedirectToUsersWhoLikedPostBase = "{% url 'inicioUsuario:getUsersWhoLikedPost' 0 0 %}".substring(0,"{% url 'inicioUsuario:getUsersWhoLikedPost' 0 0 %}".length-4);

		var urlAddFollowUserCompany = "{% url 'miCuenta:addFollowUserCompany' %}";

		var urlRemoveFollowUserCompany = "{% url 'miCuenta:removeFollowUserCompany' %}";
	
		var urlLikePhoto = "{{request.get_host}}{% url 'inicioUsuario:photoLike' %}";

		var urlIndex = "{% url 'inicioUsuario:index' %}";

		var urlTestedGarmentsPhotosUser = "{% url 'inicioUsuario:userTestedGarmentsPhotosUser' 0 %}".substring(0,"{% url 'inicioUsuario:userTestedGarmentsPhotosUser' 0 %}".length-2);

		var urlStatic = "{% get_static_prefix %}";

		var myId = "{{myId}}";

		var myFullName ="{{me.getFullName}}";

		var urlGarmentDetails = "{% url 'prendas:garmentDetails' 0 %}".substring(0,"{% url 'prendas:garmentDetails' 0 %}".length-2);

		var messageNoGarmentsInPhoto="{{messageNoGarmentsInPhoto}}";

		var urlCompanyProfile = "{% url 'inicioUsuario:companyProfile' 0%}".substring(0,"{% url 'inicioUsuario:companyProfile' 0%}".length-2);

		// Para obtener informacion de la compañia

		var companyId = "{{company.id}}";

		// Para obtener informacion de la compañia

		var source = "{{source}}";

		// Redireccionar a foto probada de usuario

		var urlTestedPhotoUser = "{% url 'inicioUsuario:testedPhotoUser' 0 %}".substring(0,"{% url 'inicioUsuario:testedPhotoUser' 0 %}".length-2);

		// Agregar like a un posteo de una compañia

		var urlAddLikeToGarmentCompanyPost = "{% url 'inicioUsuario:addLikeToGarmentCompanyPost'  %}";

		// Remover like a un posteo de una compañia

		var urlRemoveLikeToGarmentCompanyPost = "{% url 'inicioUsuario:removeLikeToGarmentCompanyPost' %}";

		// Agregar comentario de usuario a posteo de prenda de compañia

		var urlAddCommentToGarmentCompanyPost = "{% url 'inicioUsuario:addUserCommentToGarmentCompanyPost' %}";

		// Agregar like de un usuario a un comentario de un usuario comun a un posteo de prenda de compañia

		var urlAddLikeToUserCommentToGarmentCompanyPost = "{% url 'inicioUsuario:addLikeToUserCommentToGarmentCompanyPost' %}";

		// Agregar like de un usuario a un comentario de una compañia a un posteo de prenda de compañia
		var urlAddLikeToCompanyCommentToGarmentCompanyPost = "{% url 'inicioUsuario:addUserLikeToCompanyCommentToGarmentCompanyPost' %}";

		// Quitar like de un usuario a un comentario de un psoteo de prenda de compañia
		var urlRemoveLikeToUserCommentToGarmentCompanyPost = "{% url 'inicioUsuario:removeLikeToUserCommentToGarmentCompanyPost' %}";

		// Quitar like de un usuario a un comentario de compañia de un posteo de prenda de compañia
		var urlRemoveLikeToCompanyCommentToGarmentCompanyPost = "{% url 'inicioUsuario:removeUserLikeToCompanyCommentToGarmentCompanyPost' %}";

		// Garment company post functions

		// Editar comentario de un posteo de una prenda de compañia
		var urlEditCommentOfGarmentCompanyPost = "{% url 'inicioUsuario:editUserCommentOfGarmentCompanyPost' %}";

		// Garment company post functions
		// Eliminar un comentario de un posteo de prenda de compañia
		var urlDeleteCommentToGarmentCompanyPost = "{% url 'inicioUsuario:deleteUserCommentToGarmentCompanyPost' %}";

		// Garment Company Post angular service
		// link para redirigir hacia pantalla qeu solo muestra un posteo de prenda de una compañia
		var urlGarmentCompanyPost = "{% url 'inicioUsuario:garmentCompanyPost' 0 0 %}".substring(0,"{% url 'inicioUsuario:garmentCompanyPost' 0 0 %}".length-4);

		// Variable utilizada por vista 
		var typeOfUser = "{{typeOfUser}}";

		// Url al folder de media
		var urlMedia = "{% get_media_prefix %}";
		
	</script>
	
{% endblock jsVariables %}

{% block content %}

	<!-- Div para mostrar informacion del perfil de la compañia -->

	{% include 'estructurasComunes/html/companyProfileStructure.html' %}

	<!-- Div para mostrar posteos de compañia -->

	<div id="divAngularApp" ng-controller="postsController">

		<div infinite-scroll="getEndScroll()" infinite-scroll-distance="0" infinite-scroll-disabled="busy">

			<div id = "photosPanel">

				<div ng-if="postsList.length>0">

					<div ng-repeat="post in postsList">

						{% include 'estructurasComunes/angularJS/garmentPostStructureAngular.html' %}
							
					</div>

				</div>

			</div>

			<!-- Requerido para el ng-infinteScroll -->

			<div style='clear: both;'>

			</div>

			<!-- Div que contiene elemento para avisar que se esta cargando contenido usando AJAX -->
			<div id ="loadingContent" class="center-block">

				<span class="glyphicon glyphicon-refresh">

				</span>

			</div>

		</div>

	</div>

{% endblock content %}

{% block javascriptCodes %}

	{{ block.super }}

	<script type='text/javascript' src="{% static 'angularJS/comun/aplicacionesConstruidas/ng-infinite-scroll.js' %}">

	</script>

	<script src ="{% static 'angularJS/comun/aplicaciones/postsApp.js' %}">

	</script>

	<script src ="{% static 'angularJS/comun/servicios/commentOfPostsService.js' %}">

	</script>

	<script src ="{% static 'angularJS/comun/servicios/garmentPostService.js' %}">

	</script>

	<script src ="{% static 'inicioUsuario/angularJS/perfilDeCompania/companyProfileController.js' %}">

	</script>

	<!-- Se inicializan las diferentes apps de angularjs (ya que no se pueden inicializar aut mas de 1 app en un template)  Se deben inicializar despues de cargar las apps y los controladores asociados-->

	<script type="text/javascript" src="{% static 'angularJS/comun/aplicaciones/startUpAppsManually.js' %}">

	</script>

	<script type="text/javascript" src="{% static 'javascript/comun/commonFunctions.js' %}">

	</script>

	<script type="text/javascript" src = "{% static 'javascript/comun/garmentCompanyPostFunctions.js' %}">

	</script>

	<script type="text/javascript" src = "{% static 'inicioUsuario/javascript/perfilDeCompania/companyProfile.js' %}">

	</script>

{% endblock javascriptCodes %}
