{% extends "comunes/base/base.html" %}

{% load static %}

{% block jsVariables %}

<script type="text/javascript">

	var favoriteGarmentsJson = {{favoriteGarmentsJson|safe}};

	var garmentsJson = {{garmentsJson|safe}};

	var trademarksJson = {{tradeMarkJson|safe}};

	var companiesJson = {{companyJson|safe}};

	var urlStatic = "{% get_static_prefix %}";

	var urlGarmentDetails = "{% url 'prendas:garmentDetails' 0 %}".substring(0,"{% url 'prendas:garmentDetails' 0 %}".length-2);

	var tradeMarksList = {{tradeMarksListFormat|safe}};

	var urlchangeTrademarkMyFavoriteGarments = "{% url 'miCuenta:changeTrademarkMyFavoriteGarments' 0 %}".substring(0,"{% url 'miCuenta:changeTrademarkMyFavoriteGarments' 0 %}".length-1);

	var urlCompanyProfile = "{% url 'inicioUsuario:companyProfile' 0%}".substring(0,"{% url 'inicioUsuario:companyProfile' 0%}".length-2);

	var currentPageNumber = 1;

	// Url para cargar imagenes

	var urlMedia = "{% get_media_prefix %}";

</script>

{% endblock jsVariables %}


{% block content %}

	{% include 'estructurasComunes/html/filterGarmentsStructure.html' with source="user" view="favoriteGarments" %}

	
	<!-- Catalogo que contiene las prendas -->
	<!-- Se declara app y controlador de angular -->

	<!-- <div ng-app="basicApp" ng-controller="catalogController"> -->
	<div id="divAngularApp" ng-controller="catalogController">

		<!-- Se crea panel para contener contenido -->
		<div class="col-md-10 panel panel-default">
			<!-- Se fija el cuerpo del panel y se fija su maximo y una barra para hacer scroll -->
			<div class="panel-body" id="catalog" style="max-height:600px;overflow-y:scroll;">
				<!-- Se crea fila para contener las prendas -->
				<div class="row" id="catalogGarments" >
					<!-- Se verifica si es qeu postsList tiene algun elemento (prenda) -->
					<div ng-if = "postsList.length>0">
						<!-- Se itera sobre cada posteo -->
						<div ng-repeat="post in postsList">
							<!-- Se incluye estructura comun -->

							{% include "estructurasComunes/angularJS/garmentThumbnailStructureAngular.html" with source="user" %}

						</div>
					</div>
				</div>
				<!-- Contendor de indice paginas -->
				<div class="row">
					<!-- clase de bootstrap -->
					<ul class="pagination">
						<!-- Se agrean los numeros de pagina -->
						{% for pageNumber in pagesList %}
							<!-- Se crea evento de click asociado a funcion definida en controlador angular -->
							<li ng-click="changePage({{ pageNumber }})"> 
								<!-- Se crea el elmento de numero de pagina -->
								<a>
									{{pageNumber}} 
								</a>
							</li>
						{% endfor %}
					</ul>
				</div>
			</div>
		</div>
	</div>
{% endblock content %}
{% block javascriptCodes %}

	{{ block.super }}

	<script src ="{% static 'angularJS/comun/aplicaciones/postsAppSinNgInfiniteScroll.js' %}">

	</script> 

	<script src ="{% static 'miCuenta/angularJS/misPrendasFavoritas/myFavoriteGarmentsController.js' %}">

	</script>

	<!-- Se inicializan las diferentes apps de angularjs (ya que no se pueden inicializar aut mas de 1 app en un template)  Se deben inicializar despues de cargar las apps y los controladores asociados -->

	<script type="text/javascript" src="{% static 'angularJS/comun/aplicaciones/startUpAppsManually.js' %}">

	</script>

	<script type="text/javascript" src="{% static 'javascript/comun/commonFunctions.js' %}">

	</script>

	<script type="text/javascript" src = "{% static 'miCuenta/javascript/misPrendasFavoritas/myFavoriteGarments.js' %}">

	</script>

	<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css" rel="stylesheet" />

	<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.min.js">

	</script>

{% endblock javascriptCodes %}